In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [3]:
df = pd.read_csv('Unemployment_Rate_upto_11_2020.csv')

In [4]:
df.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,longitude,latitude
0,Andhra Pradesh,31-01-2020,M,5.48,16635535,41.02,South,15.9129,79.74
1,Andhra Pradesh,29-02-2020,M,5.83,16545652,40.90,South,15.9129,79.74
2,Andhra Pradesh,31-03-2020,M,5.79,15881197,39.18,South,15.9129,79.74
3,Andhra Pradesh,30-04-2020,M,20.51,11336911,33.10,South,15.9129,79.74
4,Andhra Pradesh,31-05-2020,M,17.43,12988845,36.46,South,15.9129,79.74

In [5]:
df.tail()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,longitude,latitude
262,West Bengal,30-06-2020,M,7.29,30726310,40.39,East,22.9868,87.855
263,West Bengal,31-07-2020,M,6.83,35372506,46.17,East,22.9868,87.855
264,West Bengal,31-08-2020,M,14.87,33298644,47.48,East,22.9868,87.855
265,West Bengal,30-09-2020,M,9.35,35707239,47.73,East,22.9868,87.855
266,West Bengal,31-10-2020,M,9.98,33962549,45.63,East,22.9868,87.855

In [6]:
df.describe()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),longitude,latitude
count,267.000000,2.670000e+02,267.000000,267.000000,267.000000
mean,12.236929,1.396211e+07,41.681573,22.826048,80.532425
std,10.803283,1.336632e+07,7.845419,6.270731,5.831738
min,0.500000,1.175420e+05,16.770000,10.850500,71.192400
25%,4.845000,2.838930e+06,37.265000,18.112400,76.085600
50%,9.650000,9.732417e+06,40.390000,23.610200,79.019300
75%,16.755000,2.187869e+07,44.055000,27.278400,85.279900
max,75.850000,5.943376e+07,69.690000,33.778200,92.937600

In [7]:
df.corr()

C:\Users\Dev Bhavsar\AppData\Local\Temp\ipykernel_24020\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),longitude,latitude
Estimated Unemployment Rate (%),1.000000,-0.245176,-0.073540,0.149976,-0.023976
Estimated Employed,-0.245176,1.000000,-0.047948,-0.113664,-0.119321
Estimated Labour Participation Rate (%),-0.073540,-0.047948,1.000000,0.080372,0.397836
longitude,0.149976,-0.113664,0.080372,1.000000,0.125895
latitude,-0.023976,-0.119321,0.397836,0.125895,1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 9 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    267 non-null    object
 1    Date                                     267 non-null    object
 2    Frequency                                267 non-null    object
 3    Estimated Unemployment Rate (%)          267 non-null    float64
 4    Estimated Employed                       267 non-null    int64
 5    Estimated Labour Participation Rate (%)  267 non-null    float64
 6   Region.1                                  267 non-null    object
 7   longitude                                 267 non-null    float64
 8   latitude                                  267 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 18.9+ KB

In [9]:
df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,longitude,latitude
0,Andhra Pradesh,31-01-2020,M,5.48,16635535,41.02,South,15.9129,79.740
1,Andhra Pradesh,29-02-2020,M,5.83,16545652,40.90,South,15.9129,79.740
2,Andhra Pradesh,31-03-2020,M,5.79,15881197,39.18,South,15.9129,79.740
3,Andhra Pradesh,30-04-2020,M,20.51,11336911,33.10,South,15.9129,79.740
4,Andhra Pradesh,31-05-2020,M,17.43,12988845,36.46,South,15.9129,79.740
...,...,...,...,...,...,...,...,...,...
262,West Bengal,30-06-2020,M,7.29,30726310,40.39,East,22.9868,87.855
263,West Bengal,31-07-2020,M,6.83,35372506,46.17,East,22.9868,87.855
264,West Bengal,31-08-2020,M,14.87,33298644,47.48,East,22.9868,87.855
265,West Bengal,30-09-2020,M,9.35,35707239,47.73,East,22.9868,87.855
266,West Bengal,31-10-2020,M,9.98,33962549,45.63,East,22.9868,87.855

In [10]:
df=pd.get_dummies(data=df,drop_first=True)
df

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),longitude,latitude,Region_Assam,Region_Bihar,Region_Chhattisgarh,Region_Delhi,Region_Goa,...,Date_ 31-01-2020,Date_ 31-03-2020,Date_ 31-05-2020,Date_ 31-07-2020,Date_ 31-08-2020,Date_ 31-10-2020,Region.1_North,Region.1_Northeast,Region.1_South,Region.1_West
0,5.48,16635535,41.02,15.9129,79.740,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,5.83,16545652,40.90,15.9129,79.740,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,5.79,15881197,39.18,15.9129,79.740,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,20.51,11336911,33.10,15.9129,79.740,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,17.43,12988845,36.46,15.9129,79.740,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,7.29,30726310,40.39,22.9868,87.855,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,6.83,35372506,46.17,22.9868,87.855,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
264,14.87,33298644,47.48,22.9868,87.855,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
265,9.35,35707239,47.73,22.9868,87.855,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
266,9.98,33962549,45.63,22.9868,87.855,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [12]:
y=df["Region.1_Northeast"]
y.shape

(267,)

In [13]:
x=df.drop("Region.1_Northeast",axis=1)
x.shape

(267, 43)

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [16]:
x_test.shape

(54, 43)

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [18]:


x_train.head()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),longitude,latitude,Region_Assam,Region_Bihar,Region_Chhattisgarh,Region_Delhi,Region_Goa,...,Date_ 30-09-2020,Date_ 31-01-2020,Date_ 31-03-2020,Date_ 31-05-2020,Date_ 31-07-2020,Date_ 31-08-2020,Date_ 31-10-2020,Region.1_North,Region.1_South,Region.1_West
187,9.61,8980432,39.50,31.1471,75.3412,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
27,13.44,23795534,34.59,25.0961,85.3131,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
256,9.23,2739309,34.03,30.0668,79.0193,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
99,10.61,10198029,42.92,23.6102,85.2799,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
83,2.20,1131128,19.04,31.1048,77.1734,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
lm=LinearRegression()
model=lm.fit(x_train,y_train)

In [21]:
x.columns

Index([' Estimated Unemployment Rate (%)', ' Estimated Employed',
       ' Estimated Labour Participation Rate (%)', 'longitude', 'latitude',
       'Region_Assam', 'Region_Bihar', 'Region_Chhattisgarh', 'Region_Delhi',
       'Region_Goa', 'Region_Gujarat', 'Region_Haryana',
       'Region_Himachal Pradesh', 'Region_Jammu & Kashmir', 'Region_Jharkhand',
       'Region_Karnataka', 'Region_Kerala', 'Region_Madhya Pradesh',
       'Region_Maharashtra', 'Region_Meghalaya', 'Region_Odisha',
       'Region_Puducherry', 'Region_Punjab', 'Region_Rajasthan',
       'Region_Sikkim', 'Region_Tamil Nadu', 'Region_Telangana',
       'Region_Tripura', 'Region_Uttar Pradesh', 'Region_Uttarakhand',
       'Region_West Bengal', ' Date_ 30-04-2020', ' Date_ 30-06-2020',
       ' Date_ 30-09-2020', ' Date_ 31-01-2020', ' Date_ 31-03-2020',
       ' Date_ 31-05-2020', ' Date_ 31-07-2020', ' Date_ 31-08-2020',
       ' Date_ 31-10-2020', 'Region.1_North', 'Region.1_South',
       'Region.1_West'],
      dtype='object')

In [22]:
model.coef_

array([ 5.06257461e-16, -1.28186430e-21,  1.41603365e-15,  1.26852051e-02,
        4.59019488e-02,  2.69593446e-01, -3.66416337e-01, -2.49348179e-01,
        5.66636727e-03,  1.81879214e-01,  2.28163951e-01,  4.78446168e-02,
       -2.80414528e-02, -3.45414362e-02, -3.46043446e-01,  1.92361144e-01,
        2.23446852e-01, -1.23537262e-01,  5.24226360e-02,  3.51029635e-01,
       -3.03993214e-01,  4.72416519e-02,  5.55235137e-02,  1.59390079e-01,
        4.55826163e-01,  1.10425255e-01,  5.18042591e-03,  3.41838782e-01,
       -1.47205453e-01, -9.96046172e-02, -4.56337597e-01,  6.70766509e-14,
       -8.74861345e-14, -3.67193325e-14,  1.53855197e-13, -1.00361709e-13,
        2.81135797e-16, -2.93148601e-14,  3.49303800e-14, -6.24971234e-14,
       -4.09683830e-02,  5.89058965e-03,  8.95803615e-02])

In [23]:
model.intercept_

-3.8679703871331186

In [24]:
from sklearn import metrics
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [26]:
pred=model.predict(x_test)

In [27]:
print("MAE:",metrics.mean_absolute_error(y_test,pred))
print("MSE:",metrics.mean_squared_error(y_test,pred))
print("R2:",metrics.r2_score(y_test,pred))

MAE: 1.2457524723719905e-13
MSE: 2.7164403358482616e-26
R2: 1.0